ANTHROPIC_API_KEY=your-anthropic-api-key-here
GITHUB_PERSONAL_ACCESS_TOKEN=your-github-token-here

CACHE_EXPIRY_HOURS=24

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langchain-api-key
LANGSMITH_PROJECT=your-langchain-project-name

# LLM Model Name
LLM_MODEL_NAME=claude-sonnet-4-5-20250929

# Run src/api/startup.py to start the app
# Working directory - ./AiAgentToolCalling
# Run on: http://0.0.0.0:8000
# Documents on: http://0.0.0.0:8000/docs